@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: white;
  background: #FBE9D0;
  /* background: linear-gradient(
    to bottom,
    rgb(255, 138, 88),
    rgb(112, 81, 203) 54%
  ); */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(236, 123, 105, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(236, 123, 105, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(236, 123, 105, 0.8);
}

::selection {
  background: rgb(236, 123, 105);
}